.edit_Button {
  color: #0099cc;
  background-color: transparent;
  border: 2px solid #0099cc;
  border-radius: 5px;
  width: 80px;
  padding: 10px;
  cursor: pointer;
}

.delete_Button {
  color: red;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 5px;
  width: 80px;
  padding: 10px;
  cursor: pointer;
}
